<div fxLayout="row" fxLayoutAlign="center" style="margin-top: 10px; margin-bottom: 10px;">
  <div fxFlex="40%">
    <button fxFlex="100%" (click)="startCamera()" style="height: 40px;">
      INICIAR LEITURA
    </button>
  </div>
  <div fxFlex="5%">

  </div>
  <div fxFlex="40%">
    <button fxFlex="100%" (click)="stopCamera()" style="height: 40px;">
      FINALIZAR LEITURA
    </button>
  </div>


</div>
<div *ngIf="readEnable">
  <zxing-scanner
    [enable]="readEnable"
    (camerasFound)="camerasFoundHandler($event)"
    (camerasNotFound)="camerasNotFoundHandler($event)"
    (scanSuccess)="scanSuccessHandler($event)"
    (scanError)="scanErrorHandler($event)"
    [formats]="['QR_CODE', 'DATA_MATRIX']">

  </zxing-scanner>
</div>


